---
import Container from '@components/container.astro'

const menuitems = [
  {
    title: 'Föreningen',
    path: '/omforeningen',
    children: [{ title: 'Dokument', path: '/dokument' }],
  },
  {
    title: 'Boende',
    path: '/boende',
    children: [
      { title: 'Allmänt', path: '/boende' },
      { title: 'Nyheter', path: '/nyheter' },
      // { title: "Dropdown Submenu", path: "#" },
      // { title: "404 Page", path: "/404" },
    ],
  },
  {
    title: 'Mäklarinfo',
    path: '/maklarinfo',
    // children: [
    //   { title: "Action", path: "/" },
    //   { title: "Another action", path: "#" },
    //   { title: "Dropdown Submenu", path: "#" },
    //   { title: "404 Page", path: "/404" },
    // ],
  },
  {
    title: 'Logga in',
    path: '/keystatic',
    // children: [
    //   { title: "Action", path: "/" },
    //   { title: "Another action", path: "#" },
    //   { title: "Dropdown Submenu", path: "#" },
    //   { title: "404 Page", path: "/404" },
    // ],
  },
]
---

<Container>
  <header class="my-5 flex h-44 w-full items-center justify-between">
    <!-- TODO: Move this to a common place for configuring basic site info -->
    <a href="/">BRF Bonneville</a>
    <ul class="flex gap-4">
      {
        menuitems.map((item) => (
          <>
            {!item.children && (
              <a
                href={item.path}
                class="group flex items-center justify-center">
                <div class="h-1 w-1 cursor-pointer bg-black opacity-0 group-hover:opacity-100" />
                <li class="">{item.title}</li>
              </a>
            )}
            {item.children && (
              <a href={item.path} class="flex items-center justify-center">
                <div class="h-1 w-1 cursor-pointer bg-black" />
                <li class="group relative list-none">
                  {item.title}
                  <ul class="absolute inset-x-3 scale-0 items-center text-sm group-hover:scale-100">
                    {item.children.map((element) => (
                      <a href={element.path}>
                        <li>{element.title}</li>
                        <div class="h-1 w-1 cursor-pointer bg-black opacity-0 hover:opacity-100" />
                      </a>
                    ))}
                  </ul>
                </li>
              </a>
            )}
          </>
        ))
      }
    </ul>
  </header>
</Container>
