---
import type { ImageMetadata } from "astro";
import { getCollection, getEntry } from "astro:content";
import { Image } from "astro:assets";

// const members = await getCollection("members");
const omforeningen = await getEntry("omforeningenpage", "index");
const props = Astro.props;
---

<section class="mx-auto grid">
  <h1 class="text-3xl font-semibold leading-snug tracking-tight">Medlemmar</h1>
  <div
    class="mx-auto flex w-full flex-wrap justify-center gap-16 pt-14 xl:justify-start">
    {
      omforeningen.data.members.map(
        async ({ name, title, image, description, email }) => {
          const img = (await import(image)).default as ImageMetadata;
          return (
            <div class="mb-12 flex max-w-64 flex-col justify-between rounded-md border border-gray-600 bg-yellow-100">
              <div>
                <Image
                  class="aspect-square object-cover p-2"
                  src={img}
                  alt={`Bild på ${name}`}
                />
                <h2 class="px-3 pt-3 text-2xl font-semibold leading-snug tracking-tight">
                  {name}
                </h2>
                <p class="px-3 pt-3 font-semibold">{title}</p>
                <p class="px-3 pt-3">{description}</p>
              </div>
              <div class="address_element flex items-center gap-2">
                <p class="email_address cursor-pointer p-3">{email}</p>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="1em"
                  height="1em"
                  viewBox="0 0 15 15"
                  {...props}>
                  <path
                    class="save_icon"
                    fill="none"
                    stroke="currentColor"
                    d="M4.5 14.5v-3a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v3m3 0h-12a1 1 0 0 1-1-1v-12a1 1 0 0 1 1-1h8.586a1 1 0 0 1 .707.293l3.414 3.414a1 1 0 0 1 .293.707V13.5a1 1 0 0 1-1 1Z"
                  />
                </svg>
              </div>
            </div>
          );
        },
      )
    }
  </div>
</section>

<script>
  const email_adresses = document.getElementsByClassName("email_address");
  const address_element = document.getElementsByClassName("address_element");
  const save_icon = document.getElementsByClassName("save_icon");

  for (let i = 0; i < address_element.length; i++) {
    const add_element = address_element[i];
    const email = email_adresses[i];
    const icon = save_icon[i];

    // let el = icon.getAttribute("fill");
    // console.log(el);

    add_element.addEventListener("click", function copyText() {
      navigator.clipboard.writeText(email.innerHTML);
      icon.removeAttribute("fill");
      icon.setAttribute("fill", "#26a653");
    });
  }
</script>
