---
import { SEO } from 'astro-seo'
import Footer from '@components/footer.astro'
import Navbar from '@components/navbar/navbar.astro'
import '@fontsource-variable/inter'
import '@fontsource-variable/bricolage-grotesque'
import V2Navbar from '@components/navbar/v2_navbar.astro'
import Mobilenavbar from '@components/navbar/mobilenavbar.astro'
import { BASE_TITLE, SITE_DESCRIPTION } from '@lib/constants'

export interface Props {
  title: string
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString()

// TODO: Allow OG image, default site title and description to be edited via Keystatic CMS
const resolvedImageWithDomain = new URL('/opengraph.jpg', Astro.site).toString()
const ogImageDescription = ''

const { title } = Astro.props

const makeTitle = title ? `${title} | ${BASE_TITLE}` : BASE_TITLE
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title={makeTitle}
      description={SITE_DESCRIPTION}
      canonical={canonicalURL}
      openGraph={{
        basic: {
          url: canonicalURL,
          type: 'website',
          title: ``,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: ogImageDescription,
        },
      }}
    />
  </head>
  <body>
    <V2Navbar />
    <!-- <Mobilenavbar /> -->
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
        width: 30rem;
      }
    </style>
  </body>
</html>
